@model IEnumerable<ProjetoIntegrador.Models.Medicamento>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Novo", "Create")
</p>
<p>
    <form action="#" method="get">
        <div class="form-group">
            <input class="form-control" id="input-busca" type="text" name="q" style="float:left; margin-right: 20px; margin-bottom: 20px;">
            <button class="btn" type="submit" style="display:block; float:left">Buscar</button>
        </div>
    </form>
    <script>
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        document.getElementById('input-busca').value = getParameterByName('q');
    </script>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fabricante.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Conteudo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Conservacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantidadeEstoque)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fabricante.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conteudo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conservacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeEstoque)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.ID }) |
                @Html.ActionLink("Deletar", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
